*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

.top{
    height: calc(100vh - 75px);
    background-color: #141922;
}

.top-content{
    height: 100%;
    display: flex;
}

.bottom{
    height: 75px;
    background-color: #282828;
}

.sidebar{
    width: 200px;
    height: 100%;
    background-color: black;
}

ul{
    color: #717171;
}

.icons{
    display: flex;
    align-items: center;
}

.logo{
    width: 150px;
    padding: 10px;
}

.side-icon{
    width: 50px;
    padding: 10px;
}

.topbar{
    height: 75px;
    background-color: yellow;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
}

.title{
    color: white;
}

.subtitle{
    color: #7d7f84;
}

li:hover{
    color: white;
}

.cover{
    color: purple;
}